
<!-- begin filters -->

<div class="btn-group pull-right">
  <button type="button" class="btn btn-default"> Filters <i class="fa fa-filter"></i> </button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu" role="menu">
    <li class="dropdown-header">Accessible</li>
    <li><a href="{% url listboard_url_name %}&accessible__exact=1"><i class="fa fa-square-o fa-sm"></i> Yes</a></li>
    <li><a href="{% url listboard_url_name %}&accessible__exact=0"><i class="fa fa-square-o fa-sm"></i> No</a></li>
    <li class="dropdown-header">Confirmed</li>
    <li><a href="{% url listboard_url_name %}&confirmed__exact=1"><i class="fa fa-square-o fa-sm"></i> Yes</a></li>
    <li><a href="{% url listboard_url_name %}&confirmed__exact=0"><i class="fa fa-square-o fa-sm"></i> No</a></li>
  </ul>
</div>

<!-- end filters -->
