{% extends base_template_name %}

{% load tz %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
   <div class="row">
      <div class="col-md-12">
        <div class="panel-group">
          <div class="panel panel-info">
            <div class="panel-heading clearfix">
              <div class="container-fluid"><i class="fa fa-building fa-2x"></i>


              {% include 'plot/listboard/add_plot_button.html' %}

               {% include 'edc_dashboard/search_form.html' %}

            </div></div>
            <div class="panel-body">

              <!--start results-->

              {% if results %}
                  <div class="table table-responsive">
                    <table class="table table-condensed table-hover small">
                      <thead>

                        {% include 'plot/listboard/results_header.html' %}

                      </thead>
                      <tbody>

                        {% include 'plot/listboard/results_body.html' %}

                      </tbody>
                    </table>
                    <!-- begin spacer rows -->
                    <table>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    </table>
                    <!-- end spacer rows -->

                    {% include 'edc_dashboard/paginator.html' %}

                  </div>

              {% endif %}

              <!--end results-->

            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>

{% endblock main %}